.AppName {
  font-size: 50px;
  text-align: center;
  background-color: #333;
}
  
.AboutText {
  text-align: center;
}

.Panel1 {
  background-color: #333;
  width: 500px;
  margin: 0 auto;
}

.signupbutton {
  text-align: center;
  font-size: 30px;
  color: white;
}
