.box1 {
     border-radius: 5px; 
     background-color: #333; 
     border: 1px solid #838383;  
     margin: 10px auto; 
 }
 
 .box1 button {
     width: 100%; 
     margin: 10px 0; 
     padding: 10px;
     font-size: 1em; 
     box-sizing: border-box; 
 }
 
 .box1 button {
     background-color: #555; 
     color: #fff; 
     border: none; 
     border-radius: 5px; 
     cursor: pointer;
     transition: background-color 0.3s ease;
 }
 
 .box1 button:hover {
     background-color: #666;
 }
 
 .small-text {
     font-size: 0.8em; 
     color: #999;
     text-align: center;
 }
 